
.header{
  color: white;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  z-index: 100;
  width: 100%;
  position: fixed;
}

.header a{
  color: white;
}

.top-bar-left{
  line-height: 2.5em;
  height: 40px;
  width: initial !important;
}

.top-bar-right{
  width: initial !important;
}

.top-bar-left-title{
  display: inline;
  font-size: 35px;
}

.top-bar-left-btn{
  margin-right: 2em;
  margin-left: 0.5em;
  color: white;
  text-decoration: none;
}
.top-bar-left-btn:hover{
  color: white;
  text-decoration: none;
}
.top-bar-left-btn:focus{
  color: white;
  text-decoration: none;
}

.header-usermenu a::after{
  display: none !important;
}

.header-usermenu-img{
  border-radius: 100%;
  height: 40px;
}

.header-usermenu-link{
  padding: 0 0.5em !important;
}
.header-usermenu-menu{
  border: 0px;
  background: rgba(66, 66, 66, 1) !important;
}

.hidden{
  display: none;
}

.header-usermenu-link span{
  padding-right: 10px;
}
