ul {
  margin-left: 0;
}

.main {
  background: rgba(211, 211, 211, 0.3);
  position: fixed;
  width: 100%;
  top: 56px;
  bottom: 0px;
  overflow: auto;
}

.list {
  list-style-type: none;
  width: 100%;
  line-height: 2em;
  padding: 1em 0;
}

.list li {
  display: table;
  width: 100%;
}

.list-task a {
  color: black;
  text-decoration: none;
}

.start-month{
  font-size: 3em;
  color: green;
}

.end-month{
  font-size: 3em;
  color: red;
}

.list-proj:hover {
  background-color: lightblue !important;
}

.list-proj:nth-child(even) {
  background-color: lightgray;
}

.list li:first-child {
  font-weight: bold;
  font-size: 20px;
}

.list span {
  padding: 10px;
  display: table-cell;
}

.list-proj-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-proj-month{
  width: 80px;
}

.list-proj-del{
  width: 100px;
}

.form-edit {
  height: 100%;
  width: 100%;
  line-height: 2em;
  padding: 1em 0;
}

.form-edit-input {
  width: 100%;
}

.form-edit-input.submit {
  margin-top: 10px;
  height: 40px;
  background-color: grey;
  color: white;
  font-weight: bold;
  border: 0;
}

.form-edit ul {
  list-style-type: none;
}

.js-off-canvas-overlay {
  background: rgba(254, 254, 254, 0.5);
}

#btn-add {
  position: fixed;
  bottom: 90px;
  right: 50px;
  line-height: 3em;
  color: white;
  background-color: green;
  text-decoration: none;
  text-align: center;
  width: 200px;
  height: 50px;
}
